@charset "UTF-8";
body，html {
  margin: 0;
  padding: 0;
}

header .h {
  padding: 0.3125rem 0.5625rem;
  border-bottom: 1px solid #dddddd;
}

header .h .help {
  width: 3.90625rem;
  height: 0.78125rem;
  background-image: url("./image/logo.svg");
  background-repeat: no-repeat;
  background-size: auto 26px;
}

main .St {
  height: 0.73125rem;
  padding: 0.1875rem 0.6875rem;
}

main .St span {
  color: #565656;
}

main .St span a {
  color: #000084;
}

main .search {
  height: 9.0625rem;
  background-color: #111a85;
}

main .search h1 {
  color: #ffffff;
  font-size: 1.1875rem;
  padding: 0.71875rem;
}

main .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 8.40625rem;
  height: 1.26875rem;
  background-color: #ffffff;
  margin-left: 0.625rem;
}

main .button button {
  width: 1rem;
  height: 1rem;
  background: url() no-repeat -257px -335px;
  height: 23px;
  min-width: 10px;
  max-width: 19px;
  border: none;
  margin: 0.3125rem 0.3125rem;
}

main .button input {
  width: 6.46875rem;
  height: 0.625rem;
  border: none;
  padding-top: 10px;
}

.ql {
  text-align: center;
  margin-top: 1.6rem;
  height: 8.0625rem;
  background-color: #caecfb;
}

.ql .ql-aa {
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.63;
  padding: 1.03125rem 0.625rem;
}

.ql a {
  padding: 0.46875rem 2.96875rem;
  background-color: #0e67ff;
  color: #f0ffff;
}

.ql .ql-bb {
  margin-top: 33px;
}

.ql .ql-bb span {
  font-family: "Helvetica neue", Helvetica, Arial, Sans-serif;
  font-size: 14px;
  line-height: 1.57;
  color: #565656;
  margin-right: 8px;
}

.un {
  border: 1px solid #d5e6f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.875rem;
  height: 1.9rem;
  background-color: #ebfdff;
}

.un .un-aa {
  width: 5.625rem;
  height: 2.5rem;
  padding-right: 1.25rem;
}

.un .un-aa .un-bb {
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  width: 6.40625rem;
  height: 1.5625rem;
}

.un .un-aa .un-cc {
  font-family: "Helvetica neue", Helvetica, Arial, Sans-serif;
  font-size: 14px;
  line-height: 1.57;
  color: #333;
}

.un a {
  text-decoration: none;
  padding-top: 30px;
  padding-left: 24px;
}

.un a::after {
  display: inline-block;
  content: "";
  background: url() no-repeat -352px -252px;
  height: 15px;
  min-width: 27px;
  max-width: 27px;
}

.ba {
  height: 3.25rem;
}

.ba h2 {
  padding: 0 24px;
  margin: 20px 0;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.31;
}

.ba ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ba ul li {
  border: 1px solid #e8e9eb;
  text-align: center;
  padding: 0 10px;
  height: 5.9375rem;
  width: 50%;
  margin-top: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  cursor: pointer;
}

.ba ul li span {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.63;
}

.ba ul li .ro-aa {
  width: 50px;
  height: 48px;
  margin-left: 49px;
  display: block;
  background: url("/image/helphub_sprite_horizontal_v15.svg") no-repeat;
  margin-bottom: 16px;
  background-position: -650px -781px;
}

.ba ul li .ro-bb {
  display: block;
  background: url("/image/helphub_sprite_horizontal_v15.svg") no-repeat;
  margin-bottom: 16px;
  width: 49px;
  height: 48px;
  margin-left: 41px;
  background-position: -210px -780px;
}

.ba ul li .ro-cc {
  width: 42px;
  height: 48px;
  display: block;
  background: url("/image/helphub_sprite_horizontal_v15.svg") no-repeat;
  margin-bottom: 16px;
  background-position: -1153px -244px;
  margin-left: 49px;
}

.ba ul li .ro-dd {
  width: 48px;
  height: 48px;
  display: block;
  background: url("/image/helphub_sprite_horizontal_v15.svg") no-repeat;
  margin-bottom: 16px;
  background-position: -618px -250px;
  margin-left: 38px;
}

.ba ul li .ro-ee {
  width: 39px;
  height: 48px;
  display: block;
  background: url("/image/helphub_sprite_horizontal_v15.svg") no-repeat;
  margin-bottom: 16px;
  background-position: -905px -333px;
  margin-left: 49px;
}

.ro-ff {
  width: 35px;
  height: 48px;
  display: block;
  background: url("/image/helphub_sprite_horizontal_v15.svg") no-repeat;
  margin-bottom: 16px;
  background-position: -1033px -251px;
  margin-left: 47px;
}

footer .j-aa {
  width: 9.9rem;
  height: 8.0625rem;
  background-color: #e5e5e5;
  border: 1px solid #cccccc;
}

footer .j-aa .j-bb {
  position: relative;
  vertical-align: text-top;
  padding-top: 0.4375rem;
  padding-left: 0.3125rem;
  padding-bottom: 0.2375rem;
}

footer .j-aa .j-bb span {
  position: absolute;
  top: 12px;
  left: 21px;
  background-repeat: no-repeat;
  background-image: url("/image/jingling.png");
  background-size: auto 20px;
  display: inline-block;
  height: 30px;
  width: 30px;
}

footer .j-aa .j-bb a {
  width: 8.59375rem;
  height: 1.25rem;
  padding-left: 1.40625rem;
  color: #333333;
}

footer .j-aa .j-cc {
  position: relative;
  vertical-align: text-top;
  padding-top: 0.4375rem;
  padding-left: 0.3125rem;
  padding-bottom: 0.2375rem;
}

footer .j-aa .j-cc span {
  position: absolute;
  top: 12px;
  left: 21px;
  background-repeat: no-repeat;
  background-image: url("/image/jingling.png");
  background-size: auto 20px;
  display: inline-block;
  background-position: -113px 2px;
  height: 30px;
  width: 30px;
}

footer .j-aa .j-cc a {
  width: 8.59375rem;
  height: 1.25rem;
  padding-left: 1.40625rem;
  color: #333333;
}

footer .j-aa .j-dd {
  position: relative;
  vertical-align: text-top;
  padding-top: 0.4375rem;
  padding-left: 0.3125rem;
  padding-bottom: 0.2375rem;
}

footer .j-aa .j-dd span {
  position: absolute;
  top: 12px;
  left: 21px;
  background-repeat: no-repeat;
  background-image: url("/image/jingling.png");
  background-size: auto 20px;
  background-position: -790px 1px;
  display: inline-block;
  height: 30px;
  width: 30px;
}

footer .j-aa .j-dd a {
  width: 8.59375rem;
  height: 1.25rem;
  padding-left: 1.40625rem;
  color: #333333;
}

footer .j-aa .j-ee {
  position: relative;
  vertical-align: text-top;
  padding-top: 0.4375rem;
  padding-left: 0.3125rem;
  padding-bottom: 0.2375rem;
}

footer .j-aa .j-ee span {
  position: absolute;
  top: 12px;
  left: 21px;
  background-repeat: no-repeat;
  background-image: url("/image/jingling.png");
  background-size: auto 20px;
  background-position: -1049px 1px;
  display: inline-block;
  height: 30px;
  width: 30px;
}

footer .j-aa .j-ee a {
  width: 8.59375rem;
  height: 1.25rem;
  padding-left: 1.40625rem;
  color: #333333;
}

footer .j-aa .j-ff {
  position: relative;
  vertical-align: text-top;
  padding-top: 0.4375rem;
  padding-left: 0.3125rem;
  padding-bottom: 0.2375rem;
}

footer .j-aa .j-ff span {
  position: absolute;
  top: 12px;
  left: 21px;
  background-repeat: no-repeat;
  background-image: url("/image/jingling.png");
  background-size: auto 20px;
  display: inline-block;
  background-position: -201px 0;
  height: 30px;
  width: 30px;
}

footer .j-aa .j-ff a {
  width: 8.59375rem;
  height: 1.25rem;
  padding-left: 1.40625rem;
  color: #333333;
}

footer .j-aa .j-gg {
  position: relative;
  vertical-align: text-top;
  padding-top: 0.4375rem;
  padding-left: 0.3125rem;
  padding-bottom: 0.2375rem;
}

footer .j-aa .j-gg span {
  position: absolute;
  top: 12px;
  left: 21px;
  background-repeat: no-repeat;
  background-image: url("/image/ey02.png");
  background-size: auto 20px;
  display: inline-block;
  height: 30px;
  width: 30px;
}

footer .j-aa .j-gg a {
  width: 8.59375rem;
  height: 1.25rem;
  padding-left: 1.40625rem;
  color: #333333;
}

footer .x {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 3.53125rem;
  background-color: #e5e5e5;
  text-align: center;
}

footer .x .x-aa {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.46875rem;
}

footer .x .x-aa a {
  color: #565656;
}

footer .x .x-bb {
  padding: 0.15625rem;
  color: #565656;
}
/*# sourceMappingURL=help.css.map */